@using HotPork.Models
@model HotPork.Models.Panino

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Modifica Burger</title>
    <script src="~/js/site.js"></script>
</head>
<body>
<h1>Modifica un burger</h1>
<form action="/Menu/Modifica" onsubmit="return valida()" method="post">

    <input type="hidden" name="id" value="@Model.Id" hidden readonly/>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="nome">Nome</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="text" class="hover" id="nome" name="nome" placeholder="BeppeBurger" value="@Model.Nome">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Nome del panino</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="carne">Carne</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="text" class="hover" id="carne" name="carne" placeholder="Pesce" value="@Model.Carne">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Carne del panino</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="verdura">Verdura</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="text" class="hover" id="verdura" name="verdura" placeholder="Pomodoro" value="@Model.Verdura">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Verdura del panino</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="salsa">Salsa</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="text" class="hover" id="salsa" name="salsa" placeholder="BBQ" value="@Model.Salsa">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Salsa del panino</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="formaggio">Formaggio</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="text" class="hover" id="formaggio" name="formaggio" placeholder="Cheddar" value="@Model.Formaggio">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Formaggio del panino</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="extra">Extra</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="text" class="hover" id="extra" name="extra" placeholder="Cheddar" value="@Model.Extra">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Extra del panino</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="prezzo">Prezzo</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="number" class="hover" id="prezzo" name="prezzo" placeholder="5" value="@Model.Prezzo">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Prezzo del panino</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="immagine">Immagine</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="text" class="hover" id="immagine" name="immagine" placeholder="https://placehold.co/250x250" value="@Model.Immagine">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Immagine del panino</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <i class="ti ti-chevrons-right p-3"></i>
        <label for="descrizione">Descrizione</label>
        <i class="ti ti-chevron-right p-3"></i>
        <div class="input-group">
            <input type="text" class="hover" id="descrizione" name="descrizione" placeholder="Descrizione" value="@Model.Descrizione">
            <div class="input-group-append">
                <i class="ti ti-question-mark"></i>
                <p class="note">Descrizione del panino</p>
            </div>
        </div>
    </div>
    <div class="divider my-3"></div>
    <input class="btn btn-success" type="submit" value="Salva" />
</form>
</body>
</html>
