@using HotPork.Models
@model List<MSSTU.DB.Utility.Entity>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="bg-dark-subtle shadow p-3 mb-2 rounded b1 border-subtle">
    <h1 class="text-primary bold">Menu</h1>
    <a class="btn btn-success w-25 d-flex align-center justify-center"
       href="/Menu/FormInserisci">
        <i class="ti ti-plus me-2"></i>
        Crea
    </a>
</div>

<div class="divider my-3"></div>

<div class="features-grid scroll-y">
    @foreach (var entity in @Model)
    {
        var panino = (Panino)entity;
        <div class="card d-flex w-fit justify-center flex-col align-center gap-3">
            <div class="card-header text-body-subtle w-100">
                <i class="ti ti-burger"></i>
                @(panino.Nome)
            </div>
            <div class="d-flex w-100 h-100 justify-center align-center">
                <img class="rounded" src="@(panino.Immagine)" alt="@(panino.Nome)" />
            </div>
            <div class="card-body text-center">
                <div class="tag-group">
                    <div class="tag">Carne: </div>
                    <div class="tag-text">@(panino.Carne)</div>
                </div>
                <div class="tag-group">
                    <div class="tag">Verdura: </div>
                    <div class="tag-text">@(panino.Verdura)</div>
                </div>
                <div class="tag-group">
                    <div class="tag">Salsa: </div>
                    <div class="tag-text">@(panino.Salsa)</div>
                </div>
                <div class="tag-group">
                    <div class="tag">Formaggio: </div>
                    <div class="tag-text">@(panino.Formaggio)</div>
                </div>
                <div class="tag-group">
                    <div class="tag">Prezzo: </div>
                    <div class="tag-text">@(panino.Prezzo)</div>
                </div>
            </div>
            <div class="d-flex gap-3 b1-top border-subtle w-100 p-2">
                <a class="btn btn-info w-100 d-flex align-center justify-center"
                   href="/Menu/Dettagli/@panino.Id">
                    <i class="ti ti-brand-github me-2"></i>
                    Dettagli
                </a>
                <a class="btn btn-danger w-100 d-flex align-center justify-center"
                   href="/Menu/Elimina/@panino.Id">
                    <i class="ti ti-trash me-2"></i>
                    Elimina
                </a>
                <a class="btn btn-warning w-100 d-flex align-center justify-center"
                   href="/Menu/FormModifica/@panino.Id">
                    <i class="ti ti-pencil me-2"></i>
                    Modifica
                </a>
            </div>
        </div>
    }
</div>
</body>
</html>
